<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#36a2eb">
        <title>Passatempo Pix Dia das Maes</title>
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gerar_numero.css') }}">

</head>
<body>
  <header style="font-family: monospace; font-weight: bold;">GERAR NUMEROS</header>
  <div  class="container">
    <div style="opacity: 0%;">
     <p style="color:#fff; font-weight: bold; font-family: monospace;">
      ID:
      <span id="usuario_id" style="color: #4a90e2;" >{{ usuario_id }}</span>
    </p>
    <p style="color:#fff; font-weight: bold; font-family: monospace;">
      Nome:
      <span id="nome" style="color: #4a90e2;" >{{ usuario.nome }}</span>
    </p>
    <p style="color:#fff; font-weight: bold; font-family: monospace;">
      CPF:
       <span id="cpf" style="color: #4a90e2;" >{{usuario.cpf }}</span>
      </p>
    <p style="color:#fff; font-weight: bold; font-family: monospace;">
      email:
      <span  id="email" style="color: #4a90e2;" >{{ usuario.email }}</span>
    </p>
    </div>
    <h3 style="color:#fff;">Total: R$ <span id="total">0.00</span></h3>
    <input id="formCompra" type="text" class="input-numero" maxlength="3" placeholder="(ex:001)">
    <button class="btn-generate" onclick="gerarBilhete()">Gerar Bilhete</button>

  
    <div class="cards" id="cards"></div>
  </div>

<footer style="display: flex; gap: 10px; margin: 10px; padding: 10px; font-family: monospace;">
  <button class="purchase" id="btn-pagar">PIX RAPIDO</button>
  <button class="purchase" id="btn-preference">PREFERENCE MERCADO PAGO</button>
</footer>

    <!-- SOCKET.IO CDN -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/numeros.js"></script>
    <script src="../static/js/pagamento.js"></script>
  <script>







</script>
</body>
</html>