<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#36a2eb">
        <title>{{usuario_id}}</title>
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='w.png') }}">
        


    </head>
    <style>

    </style>
  

    <body>
<!-- Botão WhatsApp -->
<a style="background-image: url('../static/img/whatsapp-svgrepo-com.svg'); background-size: cover; background-position: center; background-repeat: no-repeat; display: block; width: 60px; height: 60spx;"
   href="https://whatsapp.com/channel/0029VbCcVz296H4aeST8Et3K?text=Olá%2C%20quero%20mais%20informações" 
   class="whatsapp-button" 
   target="_blank" 
   aria-label="Fale conosco no WhatsApp">
</a>


        
    <main class="main">
  <div class="main-child">
<!-- Botão de CTA -->
<form class="form-cta" style="margin-top:20px;">
  <a style="border-radius:5px; height:40px; text-align:center; font-weight:bold; 
            margin:0; color:#fff; background-color:rgba(224, 25, 177, 0.627); 
            display:inline-block; line-height:40px; padding:0 20px; text-decoration:none;"
     href="/gerar_numero/{{ usuario_id }}" target="_blank">
    Participar Agora 
  </a>
</form>
    </div>

  </div>
  <div class="gradient"></div>
</main>



 <footer class="footer">

<section class="faq">

</section>

<div class="table-container">
  <h2 style="text-decoration: underline; margin:20px;">Meus Bilhetes</h2>

  <table border="1">
    <thead>
      <tr>
        <th>N° BILHETES</th>
        <th>Compartilhar</th>
      </tr>
    </thead>
    <tbody>
      {% for u in pagamentos %}
      <tr>
        <td>{{ u.lista_numeros }}</td>
        <td>
          <button onclick="baixarBilhete('{{ u._id }}')">
            <img src="../static/img/baixar.svg">
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

  <h2 style="text-decoration: underline; margin:20px;">📊 Progresso da Rifa</h2>
  <span>{{ resumo.numeros_aprovados }}</span>
   <div class="info-box" id="mediaDiaria">Média diária necessária: 0</div>
  <div class="pizza-chart" id="chart">0%</div>

  


    






<div class="table-container">
    <h2 style="text-decoration: underline; margin:20px;">USUARIOS CONCORRENDO</h2>

    <table border="1">
        <thead>
            <tr>
                <th style="color: #ffffff; font-weight: bold;">PARTICIPANTES</th>
                <th style="color: #ed06d2; font-weight: bold;">VENDEDORES</th>
            </tr>
        </thead>

        <tbody>
            {% for u in usuarios %}
            <tr>
                <td style="color: #ccde01; font-weight: bold;">
                    {{ u.nome }}
                </td>
                                <td style="color: #12ec8e; font-weight: bold;">
                    {{ u.vendedor }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  
 
  <h2 style="text-decoration: underline; margin:20px;">⏳ Prazo para Sorteio</h2>
  <div class="time-chart" id="timeChart">0 dias</div>
  <div style="text-align:center; margin-top:20px;">

  </div>
  <div class="table-container">
  <h2 style="text-decoration: underline; margin:20px;">Sorteios</h2>
    <table border="1">
        <thead>
            <tr>
                <th style="color: #ffffff; font-weight: bold;">Dia</th>
                <th style="color: #ffffff; font-weight: bold;">Data</th>
                <th style="color: #ffffff; font-weight: bold;">CONCURSO</th>
                <th style="color: #ffffff; font-weight: bold;">RESULTADO LOTERIA</th>
               
                


            </tr>
        </thead>
            {% for u in sorteio %}
        <tbody>
            <tr>
                <td style="color: #f5f108; font-weight: bold; ">{{u.dia}}</td>
                <td style="color: #265ddc; font-weight: bold; ">{{u.data}}</td>
                <td style="color: #265ddc; font-weight: bold; ">{{u.concurso}}</td>
                <td style="color: #a0da0ee5; font-weight: bold; ">{{u.resultado}}</td>
 
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<!-- <dl class="faq-list">
     <dt class="faq-question" style="color:#cdfa04; text-align: center; font-weight:bold; font-size:20px;">
    Comprovante Premiação
</dt>
<dd style="background-color: #000;" class="faq-answer">
 
 
          </div>
         </dd> -->


  <p>Copyright © 2026 "W" Marca Brasil todos os direitos reservados</p>
        </footer>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>         
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/meta_atingir.js') }}"></script>
  

<script>



  const chart = document.getElementById("chart");

  const resumo = {
    numeros_aprovados: {{ resumo.numeros_aprovados|int }}
  };
  const meta = 1000; // Meta de 100 bilhetes vendidos

  const porcentagem = Math.round((resumo.numeros_aprovados / meta) * 100);

  chart.innerText = porcentagem + "%";
  
  chart.style.background = `conic-gradient(
    #00ff00 ${porcentagem * 3.6}deg,
    #e0e0e0 ${porcentagem * 3.6}deg
  )`;
   


  </script>
    </body>
</html>