<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#000">
        <title>Seja Bem Vindo</title>
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/opcoes.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="font-weight: bold; color: #fff;">Bem-vindo!</h1>
    <button style="font-weight: bold; font-size: 22px; color: #fff;" class="btn btn-register" onclick="window.location.href='/vitoria_vitoriosa/registro'">Registre-se</button>
    <button style="font-weight: bold; font-size: 22px; color: #fff;" class="btn btn-panel" onclick="window.location.href='/vitoria_vitoriosa/login'">Login</button>
    <button style="font-weight: bold; font-size: 22px; color: #fff;" class="btn btn-panel" onclick="window.location.href='/vitoria_visionaria/registrar/vendedor'">Admin</button>
 
</div>
 
  </div>
</div>
        

</body>
</html>
