<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#36a2eb">
        <title>Passatempo Pix Dia das Maes</title>
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='w.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

                        
</head>

<body class="bg-light">

<div style="background-color: rgba(240, 248, 255, 0.452); height: 100dvh;" class="container py-4">
    <h1 class="text-center mb-4"></h1>
    <!-- Formulário de Registro -->
    <div style="background-color: rgba(240, 248, 255, 0.452);" class="card mb-4">
        <div style="text-align: center; font-family: monospace; font-weight: bold;" class="card-header bg-primary text-white">Registrar Usuário</div>
        <div class="card-body">
            <form id="formRegistro">
                <div class="mb-3">
                    <label style="text-align: center; font-family: monospace; font-weight: bold;" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" required>
                </div>
                <div class="mb-3">
                    <label style="text-align: center; font-family: monospace; font-weight: bold;" class="form-label">CPF (somente números)</label>
                    <input type="text" class="form-control" name="cpf" pattern="\d{11}" required>
                </div>
                <div class="mb-3">
                    <label style="text-align: center; font-family: monospace; font-weight: bold;" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-success">Registrar</button>
            </form>
            <div id="registroMsg" class="mt-2"></div>
        </div>
    </div>
    <div class="card">
    <div style="text-align: center; font-family: monospace; font-weight: bold;" class="card-header bg-info text-white">
        Login
    </div>

    <div class="card-body">
        <form id="formLogin">
            <div class="mb-3">
                <label style="text-align: center; font-family: monospace; font-weight: bold;" class="form-label">
                    CPF (somente números)
                </label>
                <input id="cpfLogin" type="text" class="form-control" name="cpf" pattern="\d{11}" required>            </div>

            <button style="width: 100%;" type="submit" class="btn btn-success">
                Acessar Painel
            </button>
        </form>

        <!-- CORRIGIDO ID -->
        <div id="loginMsg"></div>
    </div>
</div>
    </div>
</div>
<!-- Propaganda -->
<div class="overlay" id="adPopup">
  <div class="popup">
    <h2 style="background-color: aliceblue; border-radius: 5px; border: 1px slategray;">Promoção Especial!</h2>
    <p style="color: gold;">Compre 20 números e ganhe<span style="color: red;"> 5 grátis!</span></p>
    <button onclick="fecharPopup()">Fechar</button>
  </div>
</div>


<script src="../static/js/registro_login.js"></script>
</body>
</html>
